/* General styling */
.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Title Styling */
.title-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill:  #83A8F4;
}

/* Labels Styling */
.field-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill:  #83A8F4;
}

/* TextField and PasswordField Styling */
.text-field, .password-field {
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-background-color: #f2f6ff;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #202c44;
    -fx-text-style: bold;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #83a8f4;
    -fx-background-color:#e5eefe;
}

/* Button Styling */
.button {
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-background-color: #83A8F4;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-color: #4A90E2;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #a7c2f9;
    -fx-text-fill: #3f527a;
}

/* VBox Styling */
.vbox {
    -fx-padding: 20;
    -fx-spacing: 20;
}
