/* Navbar Styling */
#navbar {
    -fx-background-color: #83A8F4; /* Sets the background color of the navbar to a light blue. */
    -fx-padding: 10;/* Adds padding of 10px inside the navbar to ensure the content is not flush against the edges. */
    -fx-spacing: 5;

    /*-fx-pref-width: 60px; /* Sets the preferred (default) width of the navbar to 60px, making it initially collapsed. */
    -fx-transition: -fx-pref-width 0.3s ease; /* Animates the width of the navbar when it changes (over 0.3 seconds). */
}

#navbar:hover {
    /*-fx-pref-width: 200px; /* Expands the width of the navbar to 200px when hovered. */
    -fx-border-radius: 10; /* Rounded corners */
    -fx-background-radius: 10; /* Matches the border radius for consistency */
}
/* Logo Styling */
.logo-text {
    -fx-text-fill: #3f527a;
    -fx-font-family: Dancing Script;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 40; /* Add space below the text */
    -fx-alignment: center;
}

.navbar-item {
    -fx-padding: 5px 10px;
    -fx-border-width: 1px;
    -fx-background-color: transparent; /* Default transparent background */
    -fx-transition: all 0.3s ease; /* Smooth transition for hover effect */
    /*    -fx-border-width: 1px;*/
}
.navbar-item:hover {
    -fx-background-color: #a7c2f9;
    -fx-text-fill: #3f527a;
    -fx-border-color: #83A8F4; /* Blue border on hover */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-radius: 10px; /* Matches the border radius for consistency */

}

.navbar-item ImageView {
    -fx-opacity: 1; /* Makes the icon fully visible. */
    -fx-transition: all 0.3s ease; /* Smoothly animates any changes to the icon’s properties (like opacity or size) over 0.3 seconds. */
}

.navbar-item Label {
    -fx-text-fill: #121a2b; /* Sets the color of the label text to a dark blue shade (#121a2b). */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-opacity: 0; /* Makes the text completely invisible initially (collapsed state). */
    -fx-padding: 0 10px; /* Adds horizontal padding (10px) on both sides of the text but no vertical padding. */
    -fx-transition: all 0.3s ease-in-out; /* Smoothly animates any changes to the label's properties (like opacity or padding) over 0.3 seconds. */
}

#navbar:hover .navbar-item Label {
    -fx-opacity: 1; /* Makes the label fully visible when the navbar is hovered. */
    -fx-padding: 0 10px; /* Keeps 10px horizontal padding around the label for better spacing. */

}



