.statistic-cards {
    -fx-spacing: 20;
}

.stat-card {
    -fx-background-color:  #83A8F4;
    -fx-padding: 20;
    -fx-border-radius: 10; /* Makes the border edges curved */
    -fx-background-radius: 10; /* Matches the border radius for consistency */    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 2, 2);
}

.stat-title {
    -fx-font-size: 14px;
    -fx-text-fill:  #28334a;
    -fx-font-weight: bold;
}

.stat-value {
    -fx-font-size: 20px;
    -fx-text-fill: #121a2b;
    -fx-font-weight: bold;
}



.chart-title {
    -fx-font-size: 14px;
    -fx-text-fill: #121a2b;
    -fx-font-weight: bold;
}

.bar-chart .chart-bar {
    -fx-background-color: #a7b2f9;
    -fx-bar-fill: #a7b2f9; /* Custom blue color */
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.pie-chart {
    -fx-background-color: #f9f9f9;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.pie-chart  {
    -fx-pie-color: #83d7f4; /* Custom green color for first segment */
}

.default-color0.chart-pie{
    -fx-pie-color: #83d7f4; /* Custom green color for first segment */
}
.default-color1.chart-pie{
    -fx-pie-color: #f483a8; /* Custom red color for second segment */
}
.default-color2.chart-pie{
    -fx-pie-color: #f1c40f; /* Custom yellow color for third segment */
}

.Axis-x{
    -fx-font-weight: bold;
}

.Axis-y{
    -fx-font-weight: bold;
}
